<!-- modules/error.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
  </head>
  <body>
    <h1>Oops! An error occurred.</h1>
    <p><%= message %></p>
    <p><%= error.status %></p>
    <pre><%= error.stack %></pre>
  </body>
</html>
