<!DOCTYPE html>

<html lang="en" dir="ltr"
    lang="en"
    class="light-style layout-menu-fixed layout-compact"
    dir="ltr"
    data-theme="theme-default"
    data-assets-path="/admin/assets/"
    data-template="horizontal-menu-template">

    <%- include(modules.component("layouts/head")) %>
    <link rel="stylesheet" href="/admin/assets/vendor/css/pages/page-auth.css" />

<body>


    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
          <div class="authentication-inner py-4">
            <!-- Register -->
            <div class="card">
              <div class="card-body">
                <!-- Logo -->
                     <div class="app-brand justify-content-center">
                            <a  class="app-brand-link gap-2">
                            
                                   <!-- <img style="max-width: 260px;" src="{{asset(setting('logo') ?? '/admin/assets/img/logos/logo-ar.png')}}"> -->
                            </a>
                     </div>
       
                     <form action="/dashboard/login" class="mb-3" id="form" method="POST" role="form">
                            <div class="mb-3 form-group">
                                   <label for="email" class="form-label">Email</label>
                                   <input type="text" name="email" class="form-control" data-name="email"/>
                                   <div class="help-block field_error"></div>
                            </div>
                            <div class="mb-3 form-password-toggle form-group">
                                   <div class="d-flex justify-content-between">
                                          <label class="form-label" for="password">Password</label>
                                   </div>
                                   <div class="input-group input-group-merge">
                                          <input
                                          type="password"
                                          id="password"
                                          class="form-control"
                                          name="password"
                                          data-name="password"
                                          autocomplete="off"
                                          placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                          aria-describedby="password" />
                                          <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                          
                                   </div>
                                   <span class="help-block" style=""></span>
                            </div>
                            <div class="mb-3">
                                   <div class="form-check">
                                          <input  name="remember" class="form-check-input" type="checkbox" id="remember-me" />
                                          <label class="form-check-label" for="remember-me"> 
                                          <!-- {{__('authentication::dashboard.login.form.remember_me')}} -->
                                          </label>
                                   </div>
                            </div>
                            <div class="mb-3">
                                   <button class="btn btn-primary d-grid w-100" id="submit" type="submit">
                                          test
                                          <!-- <x-btn-spinner :title="__('authentication::dashboard.login.form.btn.login')"/> -->
                                   </button>
                            </div>
                     </form>
                </div>
              </div>
            </div>
            <!-- /Register -->
          </div>
        </div>
      </div>

      <%- include(modules.component("layouts/scripts")) %>
       <script src="/admin/assets/js/pages-auth.js"></script>
</body>
</html>